@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    /*Paleta de cores*/
    --brand-color: #00A3FF;
    --dark-10: #06090F;
    --dark-20: #151B26;
    --dark-30: #BFBFBF;
    --dark-40: #FFFFFF;
    --support-01: #2962FF;
    --support-02: #0BB07B;
    --support-02: #FFCE52;
    --support-03: #F03D3D;
    --support-04: #E0E0E0;
     /*font-family*/
     --fonte-titulos: 'Inter', sans-serif;
     --fonte-secundaria: 'Rubik', sans-serif;
     --fonte-tam-padrao: 18px;
  }

#bootstrap-overrides {
    font-family: var(--fonte-secundaria);
    background-color: var(--dark-10);
}

#bootstrap-overrides .brand-text {
    color: var(--brand-color);
    font-size: 40px;
    font-family: var(--fonte-titulos);
}

#bootstrap-overrides .navbar-toggler {
    border: none;
}

#bootstrap-overrides .form-control {
    border-radius: 20px;
    border: none;
    background-color: var(--dark-20);
}

#bootstrap-overrides .bg-color-dark20 {
    background-color: var(--dark-20);
}
