@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
    /*Paleta de cores*/
    --brand-color: #00A3FF;
    --dark-10: #06090F;
    --dark-20: #151B26;
    --dark-30: #BFBFBF;
    --dark-40: #FFFFFF;
    --support-01: #2962FF;
    --support-02: #0BB07B;
    --support-02: #FFCE52;
    --support-03: #F03D3D;
    --support-04: #E0E0E0;
     /*font-family*/
     --fonte-titulos: 'Inter', sans-serif;
     --fonte-secundaria: 'Rubik', sans-serif;
     --fonte-tam-g: 18px;
     --fonte-tam-m: 14px;
     --fonte-tam-p: 8px;
  }

/* Fontes */
h1, h2, h3, h4 {
    font-family: var(--fonte-titulos);
    color: var(--dark-40);
}

p {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-tam-m);
    color: var(--dark-30);
}

#bootstrap-overrides .mobile {
    display: block;   
}

#bootstrap-overrides .desktop {
    display: none
}

#bootstrap-overrides {
    font-family: var(--fonte-secundaria);
    background-color: var(--dark-10);
    color: var(--dark-40);
}

#bootstrap-overrides .brand-text {
    color: var(--brand-color);
    font-size: 40px;
    font-family: var(--fonte-titulos);
}

/* Border */
#bootstrap-overrides .nav-bc {
    border-color: var(--dark-20)!important;
}

#bootstrap-overrides .bg-color-dark20 {
    background-color: var(--dark-20);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 5px;
  }

::-webkit-scrollbar-track {
    background: var(--dark-10);
}

::-webkit-scrollbar-thumb {
    background: var(--brand-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--brand-color);
    cursor: grab;
}

.banner-container {
    position: relative;
}

.banner-img-container {
    position: relative;
    overflow: hidden;
    height: 250px;
    margin-bottom: 50px;
}

#banner-img {
    position: absolute;   
    bottom: 0;
    width: 100%;
}

.banner-conteudo-fundo{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(270deg, rgba(6, 9, 15, 0.32) 0%, rgba(6, 9, 15, 0.9) 100%);
    
}

.banner-conteudo {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 44px;
    padding-right: 44px;
}

.banner-conteudo h2 {
    font-size: var(--fonte-tam-g);
}

.banner-conteudo p {
    width: 80%;
}


/* CARDs */
.cartao-conjunto {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.cartao-conjunto img {
    width: 100%;
    margin-bottom: .5rem;
    border-radius: 12px;
}

.cartao-gradiente {
    background: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090F 100%);
    border-radius: 12px;
}

.card-conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: var(--fonte-tam-g);
    color: var(--dark-30);
}

.cartao-titulo {
    font-size: var(--fonte-tam-g);
    text-align: center;
    font-family: var(--fonte-titulos);
    margin-bottom: 3rem;
}

#botao-mais {
    background-color: var(--dark-20);
    color: var(--dark-40);
    border: none;
    height: 40px;
    margin-bottom: 40px;
}

.atualizacoes-linha-dois {
    display: none;
   }

/* Página de exbição */

#container-video {
    position: relative;
}

/* Descrição */
.descricao .capa img {
    margin-right: 2rem;
}

.descricao .sinopse p {
    text-align: justify;
}

#botao-play {
    background-color: transparent;
    border: none;
    position: absolute;
       
}

/* Footer */
footer {
    text-align: center;
    color: var(--dark-30);
    padding-bottom: 10px;
}

/* Customização para tablets */
@media screen and (min-width: 768px) {
    #bootstrap-overrides p {
        font-size: var(--fonte-tam-g);
    }

    .banner-img-container {
        height: 300px;
    }

    /* CARDS */
   .atualizacoes-linha-dois {
    display: flex;
   }

   /* Mais Assistidos */
   #card-mais-assistidos {
    background-color: var(--dark-20);
    height: 107px;
    overflow: hidden;
   }

   .container-thumbnail {
    position: relative;
    width: 100px;
    height: 107px;
    overflow: hidden;
   }

   .thumbnail {
    position: absolute;
    width: 100%;
   }

   #card-mais-assistidos .card-body {
    overflow: hidden;
   }

   .card-body a {
    text-decoration-line: none;
    color: var(--dark-40);
   }
}


/* Customização para desktop*/
@media screen and (min-width: 992px) {
    #bootstrap-overrides .desktop {
        display: block;
    }

    #bootstrap-overrides .mobile {
        display: none;
    }


    #caixa-nav {
    
    }

    #logo {
    }

    #busca {
       display: grid!important;
    }

    .banner-img-container {
        height: 400px;
    }

    .banner-conteudo p {
        width: 50%;
    }
}


